IndentWidth: 8
TabWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
ColumnLimit: 80
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AlignOperands: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossComments: true
  AcrossEmptyLines: true
PenaltyBreakAssignment: 80
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
SortIncludes: false
